* {
    box-sizing: border-box;
}

body {
    background-color: #10002b;
    height: 100%;
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;
}

.register-tile {
    color:white;
    background-color: #10002b;
    padding: 20px;
    text-align: center;
}

h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
}

form {
    color: #e0aaff;
    width: 700px;
    display: inline-block;
        text-align: left;
        border: 2px solid #52b69a;
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 100px;
}

label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

input,
select {
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color:#e0aaff;
    color:#10002b;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color:#9d4edd;
}
input,
select,
img {
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}
img#photo-preview {
    max-width: 200px;
    max-height: 200px;
    margin-top: 10px;
}
