 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-family: Georgia, serif;
     color:#B6D9E9;
 }

 body {
     font-family: Georgia, serif;
      background-color: #003A6C;
 }

 h1 {
    color:#B6D9E9;
     font-weight: bold;
     margin-top: 50px;
     margin-bottom: 20px;
     text-align: center;
 }

 p {
     color:#B6D9E9;
     margin-bottom: 20px;
 }

 .btn-primary {
     background-color: #B6D9E9;
     border-color: #006699;
 }

 .btn-primary:hover {
     background-color: #005580;
     border-color: #005580;
 }

 .card {
     background-color: #fff;
     border: none;
     border-radius: 10px;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
     margin-bottom: 30px;
     padding: 30px;
 }

 .card h2 {
     color: #B6D9E9;
     font-weight: bold;
     margin-bottom: 20px;
     text-align: center;
 }

 form {
     max-width: 500px;
     margin-left:400px;
     padding: 20px;
     border: 1px solid #ccc;
     border-radius: 5px;
     margin-bottom: 50px;
     color:#B6D9E9;
 }

 label {
     display: block;
     font-weight: bold;
     margin-bottom: 5px;
 }

 input[type="email"],
 textarea {
     display: block;
     width: 100%;
     padding: 10px;
     margin-bottom: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
 }

 input[type="submit"] {
     background-color: #B6D9E9;
     color:#003A6C;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
 }

 input[type="submit"]:hover {
     background-color: #B6D9E9;
 }